.page-project {
  padding: 60px 0 90px;
}

.page-project__title .heading {
  margin-bottom: 20px;
}

.page-project__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.page-project__info .page-project__date {
  margin-right: 20px;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  color: #687492;
  font-family: 'Montserrat', sans-serif;
}

/* IMG */

.page-project__preview {
  margin-bottom: 60px;
  -webkit-box-shadow: 0px 10px 40px rgba(126, 155, 189, 0.3);
          box-shadow: 0px 10px 40px rgba(126, 155, 189, 0.3);
}

.page-project__preview img {
  width: 100%;
  max-height: 935px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top center;
     object-position: top center;
}

/* BODY */

.page-project__content {
  padding-bottom: 60px;
}

.page-project__content-item + .page-project__content-item {
  margin-top: 40px;
}

.page-project__content-item .heading {
  margin-bottom: 10px;
}

.page-project__content-item p {
  font-family: 'Playfair Display', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 170%;
}

.page-project__content-item ul {
  margin: 0;
  padding: 0;
  padding: 0px;
  list-style: none;
  font-family: 'Playfair Display', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 150%;
}

.page-project__content-item ul li {
  position: relative;
  margin-bottom: 15px;
  padding-left: 18px;
}

.page-project__content-item ul li::before {
  content: '';
  position: absolute;
  top: 10px;
  left: 0px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #000000;
}

.page-project__content-item .special-link a {
  color: #1647ED;
  text-decoration: none;
}

.page-project__link {
  transition: all 0.2s ease-in;
  &:hover {
    color: #000;
  }
  
}

.page-project__project-pagination {
  margin: 0 auto 60px;
  max-width: 920px;
}

.page-project__comments,
.page-project__project-comments {
  margin: 0 auto 60px;
  max-width: 920px;
}

.page-project__title {
  margin-bottom: 40px;
  text-align: center;
}

.page-project__comments-comment:not(:last-child) {
  margin-bottom: 20px;
}