.post-comment {
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #EAEFF2;
  border-radius: 8px;
}

.post-comment__avatar {
  margin-right: 20px;
}

.post-comment__form {
  width: 100%;
}

.post-comment__form-textarea {
  margin-bottom: 15px;
}

.post-pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.post-pagination__button {
  display: block;
  text-align: center;
  width: 50%;
  border-radius: 8px 0px 0px 8px;
  border: 1px solid rgba(126, 155, 189, 0.3);
  background-color: #fff;
  padding-top: 14px;
  padding-bottom: 15px;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1;
  color: #7E9BBD;
}

.post-pagination__button--forward {
  border-radius: 0px 8px 8px 0px;
  border-left: none;
}

.post-pagination__button:hover,
.post-pagination__button:focus {
  background: #EFF6FB;
  text-decoration: none;
  color: #4374AD;
}

.post-pagination__button:active {
  background: #9BC3DC;
  color: #fff;
}

.page-post {
  padding: 60px 0 90px;
}

.page-post__post-pagination {
  margin: 0 auto 60px;
  max-width: 920px;
}

.page-post__comments,
.page-post__post-comments {
  margin: 0 auto 60px;
  max-width: 920px;
}

.page-post__title {
  margin-bottom: 40px;
  text-align: center;
}

.page-post__comments-comment:not(:last-child) {
  margin-bottom: 20px;
}