html {
  height: 100%;
}

.sticky-footer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.enter-or-reg {
  padding-top: 20px;
  padding-bottom: 20px;
  height: auto;
  min-height: 180px;
}

.flex-row-gap {
  row-gap: 20px;
}

.main-page {
  padding-bottom: 0 !important;
}

.section-header {
  background-color: #eaeff2;
}

.main-page .section-header {
  background-color: #fff;
}

.main-page__posts-cards {
  padding-bottom: 90px;
}

.authorization-page__header {
  text-align: center;
}

.authorization-page__header > * {
  opacity: inherit;
}

.authorization-page__header a {
  transition: all 0.1s ease-in;
}

.authorization-page__header a:hover {
  text-decoration: none;
  opacity: 0.7;
}

/* ....... ADMIN ....... */
.control-panel__list-img-badge {
  width: 20px;
  height: 20px;
}

.admin-panel__message::after {
  width: 20px;
  height: 20px;
  text-align: center;
}

.primary-button--red {
  background-color: #c93535;
}

.admin-form {
  width: 900px;
}

.icon-delete {
  display: inline-block;
}

.section-posts__info {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 15px;
}

.badge {
  transition: all 0.2s ease-in;
}

.badge--link:hover {
  text-decoration: none;
  color: #fff;
  background-color: rgb(255, 115, 0);
}
