html {
  height: 100%;
}

.sticky-footer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.enter-or-reg {
  padding-top: 20px;
  padding-bottom: 20px;
  height: auto;
  min-height: 180px;
}

.flex-row-gap {
  row-gap: 20px;
}

.main-page {
  padding-bottom: 0 !important;
}

.section-header {
  background-color: #eaeff2;
}

.hidden {
  display: none;
}

.main-page .section-header {
  background-color: #fff;
}

.main-page__posts-cards {
  padding-bottom: 90px;
}

.primary-button--red {
  background-color: #c93535;
}

.icon-delete {
  display: inline-block;
}

/* .... Authorization .... */
.authorization-page__header {
  text-align: center;
}

.authorization-page__header > * {
  opacity: inherit;
}

.authorization-page__header a {
  transition: all 0.1s ease-in;
}

.authorization-page__header a:hover {
  text-decoration: none;
  opacity: 0.7;
}

/* ....... ADMIN ....... */
.control-panel__list-img-badge {
  width: 20px;
  height: 20px;
}

.admin-panel__message::after {
  width: 20px;
  height: 20px;
  text-align: center;
}

.admin-form {
  width: 900px;
}

.admin-section-title {
  font-size: 26px;
  font-weight: 600;
  margin: 30px -30px 20px;
  padding: 15px 30px;
  background-color: #efefef;
}

/* ....... Blog ....... */
.section-posts__info {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 15px;
}

.badge {
  transition: all 0.2s ease-in;
}

.badge--link:hover {
  text-decoration: none;
  color: #fff;
  background-color: rgb(255, 115, 0);
}

/* .... Pagination .... */
.post-pagination__button--forward {
  margin-left: auto;
}

.comment__date {
  flex-shrink: 0;
}

.comment__link {
  margin-left: 20px;
  max-width: 450px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

/* .... Contacts .... */
.block-contacts__info {
  font-weight: 400;
}

.post-about-skills ul {
    padding: 0;
    padding-left: 15px;
    list-style: none;
    font-family: 'Playfair Display', sans-serif;
    font-weight: 700;
    font-size: 22px;
    line-height: 1.5;
}

.post-about-skills li {
  position: relative;
  margin-bottom: 5px;
}

.post-about-skills li::before {
  content: "";
  position: absolute;
  top: 14px;
  left: -14px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #000000;
}

.admin-form__date{
  font-family: Montserrat, sans-serif;
  font-size: 16px;
  color: #7E9BBD;
  line-height: 1.3;
}

.admin-form__date img {
    display: inline-block;
    margin-right: 7px;
    margin-bottom: 4px;
}

.admin-form__item--flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 20px;
}


/* Dashboard */

.dashboard {
  display: flex;
  flex-wrap: wrap;
}

.dashboard-item {
  padding: 15px;
  border: 1px solid rgb(199, 209, 216);
  flex-grow: 2;
}

.dashboard-item {
  margin-left: 15px;
  margin-bottom: 15px;
}
.dashboard-item__title {
  font-weight: 600;
  font-size: 28px;
  margin-bottom: 25px;
}
.dashboard-item__value {
  font-size: 42px;
  font-weight: 300;
  margin-bottom: 25px;
}
.dashboard-item__action {
}

a.control-panel__title-wrapper {
  color: #fff;
  text-decoration: none;
  display: block;
}

.control-panel__list-img-badge {
  min-width: 18px;
  line-height: 1;
}

.table tbody tr.message-new {
  background-color: #edffd0;
}

.table tbody tr {
  position: relative;
}

.table tbody tr .link-to-page::before {
  z-index: 1;

  position: absolute;
  content: "";
  top: 0;
  left: 0;

  display: inline-block;
  width: 100%;
  height: 100%;

  transition: all 0.2s ease-in;
}

.table tbody tr .link-to-page {
  transition: all 0.2s ease-in;
}

.table tbody tr .link-to-page:hover::before {
  background-color: rgba(126, 202, 192, 0.1);
}

.table tbody tr .icon-delete,
.table tbody tr .link-above-others {
  position: relative;
  z-index: 11;
}

a.logo-link {
  text-decoration: none;
  display: block;
}

a.logo-link:hover {
  opacity: 0.6;
}

.admin-panel__message::after {
  display: none;
}

.admin-panel__message-icon {
  content: attr(data-number);
  position: absolute;
  display: block;
  top: 0;
  left: 50%;
  -webkit-transform: translate(0%, -50%);
  -ms-transform: translate(0%, -50%);
  transform: translate(0%, -50%);
  padding: 4px;
  font-size: 12px;
  text-align: center;
  background: #c90000;
  border-radius: 50%;
  font-family: "Montserrat", sans-serif;
  min-width: 18px;
}

.body-with-panel {
  padding-top: 54px;
}

.admin-panel {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 54px;
  z-index: 99;
}

.page-product__title {
  display: flex;
  justify-content: space-between;
}

.card-product__button::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.card-product .badge {
  z-index: 2;
  position: absolute;
  top: 0;
  right: 0;
  display: inline-block;
}

.badge--light {
  background-color: #7e9bbd;
}

.card-product {
  position: relative;
}

.card-product__button .watch-button  {
  transition: all 0.2s ease-in;
}

.card-product__button::before {
  z-index: 1;
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
}

.card-product__button:hover .watch-button {
  color: #1647ed;
}

/* Profile*/
.form-group-wrapper {
  padding: 20px;
  margin-top: 30px;
  margin-bottom: 20px;
  border: 1px solid #7e9bbd;
  border-radius: 6px;
}

.form-group-wrapper__header {
  margin-bottom: 10px;
  text-align: center;
}

.form-group-wrapper__header p {
  display: inline-block;
}

.form-group-wrapper__title {
  font-weight: 700;
  font-size: 16px;
  line-height: 1;
  color: #7E9BBD
}

/* Single order in admin panel*/
.order-table,
.order-table th,
.order-table td {
  border: 1px solid #e3e3e3;
  border-collapse: collapse;
}

.order-table th,
.order-table td {
  padding: 10px;
}

.order-table td img {
  width: 100px;
}

/* Payment methods*/
.payment-methods {
  max-width: 400px;
  margin: 0 auto;
}

.payment-yookassa, a.payment-yookassa {
  display: flex;
  align-items: center;
  column-gap: 20px;

  padding: 20px;

  box-shadow:  0px 0px 15px #b7d8e6;
  border-radius: 8px;

  color: #000;
  text-decoration: none;

  transition: all 0.2s ease-in;
}

.payment-yookassa:hover, a.payment-yookassa:hover {
  box-shadow: 0px 0px 35px #9ac4d7;

}

/* tabs */
.tab__block {
  display: none;
}

.tab__block.active {
  display: block;
}

.tab__nav {
  display: flex;
}

.tab__nav-button {
  position: relative;
  display: inline-block;
  padding: 15px 20px;
  border: none;
  background-color: #fff;

  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1;
  color: rgba(0, 0, 0, 0.3);

  transition: all 0.2s ease;
}

.tab__nav-button::before {
  position: absolute;
  content: "";
  left: 0;
  top: 50%;
  transform: translateY(-50%);

  display: none;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: #000;
  transition: all 2s ease;
}

.tab__nav-button.active {
  color: #000;
  background-color: #fff;
}

.tab__nav-button.active::before {
  display: inline-block;
}

.tab__nav-button:hover, 
.tab__nav-button:active, 
.tab__nav-button:focus {
  outline: none;
}

.tab__block {
  background-color: #fff;
}




