
.shop {
  position: relative;
  padding: 60px 0 90px;
}

.shop .text-center {
  margin-bottom: 80px;
}

.shop-cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 60px;
}

.shop-cards .card-product {
  margin-bottom: 30px;
  margin-right: 30px;
}

.shop-cards .card-product:nth-child(3n + 3) {
  margin-right: 0;
}


.card-product {
  position: relative;
  display: block;
  width: 350px;
  height: 410px;
  padding: 30px 30px 20px 30px;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 10px 40px rgba(126, 155, 189, 0.3);
          box-shadow: 0px 10px 40px rgba(126, 155, 189, 0.3);
  cursor: pointer;
}

.card-product:hover {
  text-decoration: none;
}

.card-product__img img {
  margin-bottom: 20px;
  width: 290px;
  height: 230px;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
}

.card-product__title {
  display: block;
  height: 48px;
  font-family: Montserrat, sans-serif;
  font-weight: 600 !important;
  font-size: 20px !important;
  line-height: 120%;
  color: #000000;
  -webkit-transition: .2s ease-in;
  -o-transition: .2s ease-in;
  transition: .2s ease-in;
  overflow: hidden;
  z-index: 4;
}

.card-product__title:hover {
  color: #000000;
  -webkit-text-decoration: solid;
          text-decoration: solid;
}

.card-product-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 10px;
}

.card-product__price {
  font-family: Montserrat, sans-serif;
  font-weight: 600;
  font-size: 20px;
  line-height: 120%;
  color: #7e9bbd;
}

.card-product__button .watch-button {
  color: #7e9bbd;
}

.card-product__button .watch-button:hover {
  color: #1647ed;
}


.watch-button {
  display: inline-block;
  padding: 13px 20px;
  font-family: Montserrat, sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  color: #1647ed;
  background-color: rgba(255, 255, 255, 0.3);
  border: 3px solid rgba(126, 155, 189, 0.3);
  border-radius: 6px;
  cursor: pointer;
  text-decoration: none;
}

.watch-button:hover {
  text-decoration: none;
  color: #1647ed;
}

/* Page product */


.page-product {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 60px;
  padding-bottom: 60px;
}

.page-product__col {
  margin-right: 30px;
  width: 540px;
}

.page-product__col:last-child {
  margin-right: 0;
}

.page-product__title {
  margin-bottom: 15px;
}

.page-product__title .section-title {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  font-size: 28px;
  line-height: 130%;
}

.page-product__price {
  margin-bottom: 35px;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 24px;
  line-height: 120%;
  color: #7e9bbd;
}

.page-product__button {
  display: inline-block;
  margin-bottom: 53px;
}

.page-product__button:hover {
  color: #fff;
  text-decoration: none;
}

.page-product__button a:hover {
  text-decoration: none;
  color: #fff;
}

.page-product-text {
  font-family: "Playfair Display", serif;
  font-size: 18px;
  line-height: 170%;
}

.page-product-text p:last-child {
  margin-bottom: 0;
}

.page-product-text a {
  color: #000;
  border-bottom: solid 1px #000;
  -webkit-transition: 0.2s ease-in;
  -o-transition: 0.2s ease-in;
  transition: 0.2s ease-in;
}

.page-product-text a:hover {
  text-decoration: none;
  color: #7e9bbd;
  border-color: #7e9bbd;
}

.page-product__section-title {
  margin-bottom: 46px;
  text-align: center;
}

.page-product__cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 90px;
}

.page-product__cards .card-product {
  margin-right: 30px;
}

.page-product__cards .card-product:last-child {
  margin-right: 0;
}