.badge {
  padding: 5px 10px;
  height: 26px;
  background: #000000;
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 13px;
  line-height: 120%;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #fff;

  transition: all 0.2s ease-in;
  
  a {
    color: #fff;

    &:first-child {
      padding-left: 10px;
      margin-left: 0;
    }

    &:last-child {
      padding-right: 10px;
      margin-right: 0;
    }
  }
}

.badge--multi {
  padding: 0;

  a {
    padding: 5px;
    margin-right: -5px;
    margin-left: -5px;

    display: inline-block;

    &:first-child {
      padding-left: 10px;
      margin-left: 0;
    }

    &:last-child {
      padding-right: 10px;
      margin-right: 0;
    }
  }
}

.badges + .badges {
  margin-top: 30px;
  justify-content: flex-end;
}

.badge--light {
  background-color: #7e9bbd;
}

.badge-card {
  position: absolute;
  z-index: 2;
  top: 0;
}

.badge-card--left {
  right: unset;
  left: 0;
}

.badge-card--right {
  left: unset;
  right: 0;
}

.badge-card.badge-card--left {
  opacity: 0;
  transform: translateX(-10%);
  transition: all 0.3s ease-in;
}

.page-product__title .badges {
  display: flex;
}

.card-project__img-wrapper .badge-card.badge-card--left {
  opacity: 1;
  transform: unset;
}

.card-project__img-wrapper .badge-card.badge-card--left {
  opacity: 1;
  transform: unset;
}

.card-project__img-wrapper .badge-card.badge-card--left {
  opacity: 1;
  transform: unset;
}

.card-project__img-wrapper .badge-card.badge-card--right {
  opacity: 0;
  transform: translateX(5%);
  transition: all 0.3s ease-in;
}


.badge--link:hover {
  text-decoration: none;
  color: #fff;
  background-color: rgb(255, 115, 0);
}

.card-project .badge--link > a {
  transition: color 0.4s ease-in;

  &:hover {
    color: #000;
  }
 
}

.card-product:hover .badge-card.badge-card--left,
.card-project:hover .badge-card.badge-card--right {
  opacity: 1;
  transform: translateX(0%);
}

