/* Watch button*/
.watch-button {
  display: inline-block;
  padding: 13px 20px;
  font-family: Montserrat, sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  color: #1647ed;
  background-color: rgba(255, 255, 255, 0.3);
  border: 3px solid rgba(126, 155, 189, 0.3);
  border-radius: 6px;
  cursor: pointer;
  text-decoration: none;
}

.watch-button:hover {
  text-decoration: none;
  color: #1647ed;
}

.primary-button {
  display: inline-block;
}

.primary-button--red {
  background-color: #c93535;
}

.button-favorite {
  border-radius: 6px;
  
  padding: 5px 5px;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 1;

  transition: all 0.2s ease-in;

  display: inline-block;

  background-color: transparent;
  color: #000;
}

.icon-favorite {
  fill: white;
  stroke: #0C0C0C;
  stroke-width: 2;

  transition: all 0.2s ease-in;
}

.button-favorite:hover .icon-favorite {
  fill: rgb(197, 19, 78);
  stroke: rgb(197, 19, 78);
}

.button-favorite.active .icon-favorite {
  fill: rgb(197, 19, 78);
  stroke: rgb(197, 19, 78);
}

.button-favorite.badge-card {
  right: 15px;
  top: 40px;
}

.icon-delete {
  display: inline-block;
}

.backtop-btn {
  z-index: 100;

  position: fixed;
  bottom: 25px;
  right: 25px;

  display: flex;
  align-items: center;
  justify-content: center;

  
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background-color: #7e9bbd;
  
  transition: all 0.2s ease-in;

  svg {
    width: 25px;
    height: 25px;
    fill: #fff;
  }

  &:hover {
    background-color: rgb(255, 115, 0);
  }
}

.delete-button {
  border: none;
  border-radius: 57px;
  background: #C93535;
  outline: none;
  padding: 5px 10px;
  color: #fff;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 600;
  line-height: 1;

  &:hover, &:focus {
    outline: none;
    background: #E81F1F;
  }

  &:active {
    background: #A01717;
  }
}
