.card-project {
  position: relative;

  padding: 20px 20px 30px 20px;
  max-width: 540px;
  background-color: #FFFFFF;
  -webkit-box-shadow: 0px 10px 40px rgba(126, 155, 189, 0.3);
  box-shadow: 0px 10px 40px rgba(126, 155, 189, 0.3);

  transition: all 0.3s ease-in;

  &:hover {
    box-shadow: 0px 10px 20px 0px #7e9bbd;
  }
}

.page-portfolio__cards:hover .card-project {
  opacity: 0.7;
}

.page-portfolio__cards .card-project:hover {
  opacity: 1;
}

.card-project__link::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.card-project__img-wrapper {
  position: relative;
  margin-bottom: 20px;
}

.card-project__technology {
  position: absolute;
  top: 0;
  left: 0;
  padding: 5px 10px;
  background-color: #000000;
  font-family: 'Montserrat', sans-serif;
  font-size: 13px;
  line-height: 1.2;
  font-weight: 700;
  letter-spacing: 0.2em;
  color: #FFFFFF;
  text-transform: uppercase;
}

.card-project__title {
  margin: 0;
  font-family: 'Playfair Display', sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 1.2;
  color: #000000;
}

.card-project__title,
.card-project__title a,
.card-project__title a:hover {
  color: #000000;
  text-decoration: none;
}

