/* CART */
.page-shopping-cart {
  padding: 60px 0 90px;
  width: 100%;
}

.page-shopping-cart__row-gray {
  padding: 20px 190px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #EAEFF2;
}

.page-shopping-cart__row {
  padding: 20px 74px 20px 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px solid rgba(126, 155, 189, 0.3);
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 18px;
  line-height: 130%;
  /* or 23px */
}

.page-shopping-cart__img {
  width: 100px;
  height: 100px;
  margin-right: 60px;
}

.page-shopping-cart__title {
  display: block;
  margin-right: 65px;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 13px;
  line-height: 120%;
  /* identical to box height, or 16px */
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.page-shopping-cart__title:nth-child(1) {
  margin-right: 226px;
}

.page-shopping-cart__title:nth-child(2) {
  margin-right: 70px;
}

.page-shopping-cart__title:nth-child(3) {
  margin-right: 0;
}

.page-shopping-cart__name {
  width: 210px;
  margin-right: 182px;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 18px;
  line-height: 130%;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

.page-shopping-cart__name a {
  display: inline-block;
  color: #000000;
}

.page-shopping-cart__name a:hover {
  color: #000000;
  text-decoration: underline;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

.page-shopping-cart__id {
  width: 120px;
  margin-right: 70px;
}

.page-shopping-cart__money {
  width: 140px;
  margin-right: 120px;
}

.page-shopping-cart__row-down {
  padding: 20px 74px 20px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #EAEFF2;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 18px;
  line-height: 130%;
  /* or 23px */
}

.page-shopping-cart__row-down .page-shopping-cart__money {
  margin-right: 130px;
}

.page-shopping-cart__button {
  display: inline-block;
  margin-top: 20px;
  padding: 13px 20px;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  background-color: #000000;
  border-radius: 6px;
  color: #fff;
  border: none;
  outline: none;
  -webkit-transition: 0.4s ease-in;
  -o-transition: 0.4s ease-in;
  transition: 0.4s ease-in;
  text-decoration: none;
}

.page-shopping-cart__button:hover {
  background-color: #7e9bbd;
  text-decoration: none;
  color: white;
}

.page-shopping-cart__button:active,
.page-shopping-cart__button:focus {
  background-color: #49525b;
  outline: none;
}

.page-shopping-cart__delete {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.page-shopping-cart__delete div {
  cursor: pointer;
  position: relative;
  height: 12px;
  width: 12px;
}

.page-shopping-cart__delete .leftright {
  height: 2px;
  width: 15px;
  position: absolute;
  margin-top: 6px;
  background-color: #7E9BBD;
  border-radius: 2px;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-transition: all .3s ease-in;
  -o-transition: all .3s ease-in;
  transition: all .3s ease-in;
}

.page-shopping-cart__delete .rightleft {
  height: 2px;
  width: 15px;
  position: absolute;
  margin-top: 6px;
  background-color: #7E9BBD;
  border-radius: 2px;
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
  -webkit-transition: all .3s ease-in;
  -o-transition: all .3s ease-in;
  transition: all .3s ease-in;
}

.page-shopping-cart__delete div:hover .leftright {
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
  background-color: #000;
}

.page-shopping-cart__delete div:hover .rightleft {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  background-color: #000;
}

.page-shopping-cart__main-title {
  margin-bottom: 50px;
  font-family: "Playfair Display", serif;
  font-weight: 700;
  font-size: 28px;
  line-height: 130%;
  /* or 36px */
  text-align: center;
}

.page-shopping-cart__buttons {
  display: flex;
  column-gap: 10px;
  align-items: center;
}