.card-post {
  padding: 30px 30px 40px;
  max-width: 350px;
  height: 409px;
  background: #ffffff;
  -webkit-box-shadow: 0px 10px 40px rgba(126, 155, 189, 0.3);
  box-shadow: 0px 10px 40px rgba(126, 155, 189, 0.3);

  transition: all 0.3s ease-in-out;

  &:hover {
    box-shadow: 0px 10px 20px 0px #7e9bbd;
  }

}

.page-blog__posts:hover .card-post {
  opacity: 0.7;
}

.page-blog__posts .card-post:hover {
  opacity: 1;
}

.card-post__img {
  margin-bottom: 20px;
  img {
    pointer-events: none;
  }
}

.card-post__title {
  margin: 0;
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 1.2;
  color: #000000;
}

.card-post__title a,
.card-post__title a:hover {
  color: #000000;
  text-decoration: none;
}