.checkbox__row {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  
  flex-wrap: wrap;
  column-gap: 30px;
  row-gap: 20px;
}

.checkbox__title {
  display: block;

  margin-bottom: 15px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1;
}

.checkbox__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.checkbox__item + .checkbox__item {
  margin-top: 10px;
}

.checkbox__row .checkbox__item + .checkbox__item {
  margin-top: 0;
}

.checkbox__btn {
  margin-right: 10px;
}

.checkbox__label {
  font-weight: 400;
}