.badges + .badges {
  margin-top: 30px;
  justify-content: flex-end;
}

.badge {
  transition: all 0.2s ease-in;
}

.badge--light {
  background-color: #7e9bbd;
}

.badge-card {
  position: absolute;
  z-index: 2;
  top: 0;
}

.badge-card--left {
  left: 0;
}

.badge-card--right {
  right: 0;
}

.badge-card.badge-card--left {
  opacity: 0;
  transform: translateX(-10%);
  transition: all 0.3s ease-in;
}

.card-product:hover .badge-card.badge-card--left {
  opacity: 1;
  transform: translateX(0%);
}

.badge--link:hover {
  text-decoration: none;
  color: #fff;
  background-color: rgb(255, 115, 0);
}