.badges + .badges {
  margin-top: 30px;
  justify-content: flex-end;
}

.badge {
  transition: all 0.2s ease-in;
}

.badge--light {
  background-color: #7e9bbd;
}

.badge--link:hover {
  text-decoration: none;
  color: #fff;
  background-color: rgb(255, 115, 0);
}