.loader-wrappper {
  display: flex;
  justify-content: center;
  padding: 0 0 20px;
}

.block-upload__img img {
  object-fit: contain;
}

.block-text {
  height: 60px;     // Ограничение высоты текста для родителя
  overflow: hidden; // Скрываем текст, кот может выйти за рамки контейнера

  .block-text__desc {
    margin: 0;
    display: -webkit-box;
    -webkit-box-orient: vertical; // Если конец тсроки обрезан, то добавляет многоточие
    -webkit-line-clamp: 1; // Ограничиваем кол-во строк текста
    overflow: hidden;
  }
}

