.input-text {
  width: 100%;
  padding: 13px 0px 13px 20px;
  background: #ffffff;
  border: 1px solid #7e9bbd;
  border-radius: 6px;
  font-family: inherit;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  color: #000;
}

.input {
  padding: 10px 14px;
  width: 100%;
  background: #FFFFFF;
  border: 1px solid #7E9BBD;
  border-radius: 6px;
  outline: none;
}

.input:focus {
  border-color: #4d90fe;
}

.input::-webkit-input-placeholder {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1;
  color: rgba(0, 0, 0, 0.5);
}

.input::-moz-placeholder {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1;
  color: rgba(0, 0, 0, 0.5);
}

.input:-ms-input-placeholder {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1;
  color: rgba(0, 0, 0, 0.5);
}

.input::-ms-input-placeholder {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1;
  color: rgba(0, 0, 0, 0.5);
}

.input::placeholder {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1;
  color: rgba(0, 0, 0, 0.5);
}

.input--width-label {
  padding: 10px 22px;
}

.input__label {
  display: block;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1;
}

.input__label > .input:first-child {
  margin-top: 10px;
}

