/* Order form */
.order-form__row {
  display: flex;
}

.order-form__row > * {
  flex-grow: 1;
}

.order-form__row > *:not(:last-child){
  margin-right: 30px;
}

.order-form__row:not(:first-child) {
  margin-top: 20px;
}

.order-form__row--justify-between {
  justify-content: space-between;
}

.order-form__row--justify-between > * {
  margin: 0 !important;
  flex-grow: 0;
}

.order-form__name {
  width: 100%;
  display: block;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
}
