@keyframes arrowMove {
  from {
    transform: 100%;
  }
  50% {
    transform: 140%;
  }
  to {
    transform: 100%;
  }
}

.section-status:hover::after {
  animation-name: arrowMove;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}

