.nav__list-item {
  position: relative;
  z-index: 9;
  padding-bottom: 20px;
  margin-bottom: -20px;
}

.nav__list-item__sub-nav {
    opacity: 0;
    width: 140px;
    pointer-events: none;
    position: absolute;
    left: 0;
    top: 100%;
    transform: translate(0%, -10%);
    transition: all 0.2s ease-in;
}

.nav__list-item:hover .nav__list-item__sub-nav {
    pointer-events: all;
    opacity: 1;
    transform: translate(0, 0%);
    box-shadow: 0px 10px 20px 0px #7e9bbd;
}

.sub-nav {
  display: grid;
  padding: 10px 15px;
  background-color: #fff;
  // background-color: rgba(126, 155, 189, 0.9);
  font-size: 16px;
  transition: color 0.1s ease-in;
}

.sub-nav__link {
  display: flex;
  padding-top: 8px;
  padding-bottom: 8px;

  color: #7e9bbd;

  &:hover {
   color: #000;
   transform: translateX(3%);
  }
}

