/* tabs */
.tab__block {
  display: none;
}

.tab__block.active {
  display: block;
}

.tab__nav {
  display: flex;
}

.tab__nav-button {
  position: relative;
  display: inline-block;
  padding: 15px 20px;
  border: none;
  background-color: #fff;

  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1;
  color: rgba(0, 0, 0, 0.3);

  transition: all 0.2s ease;
}

.tab__nav-button::before {
  position: absolute;
  content: "";
  left: 0;
  top: 50%;
  transform: translateY(-50%);

  display: none;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: #000;
  transition: all 2s ease;
}

.tab__nav-button.active {
  color: #000;
  background-color: #fff;
}

.tab__nav-button.active::before {
  display: inline-block;
}

.tab__nav-button:hover, 
.tab__nav-button:active, 
.tab__nav-button:focus {
  outline: none;
}

.tab__block {
  background-color: #fff;
}